language: cpp
os: windows
env:
  - MSBUILD_PATH="c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"

script:
  - export PATH=$MSBUILD_PATH:$PATH  
  - echo "Building Windows"
  - C:Users\travis\build\Nohhhhhh\PUBLIC>MSBuild.exe Project\AStarSearch\AStarSearch.sln /p:Configuration=Release
  - echo "Done"
